@model ApiCliente.AppWeb.ViwmModels.ClienteViewModel

@{
    ViewData["Title"] = "Edit";

    var qtdEmails = Model.Emails.Count.Equals(0) ? 1 : Model.Emails.Count();
    var qtdEnderecos = Model.Enderecos.Count.Equals(0) ? 1 : Model.Enderecos.Count();
}

<h1>Edit</h1>

<h4>ClienteViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NomeCompleto" class="control-label"></label>
                    <input asp-for="NomeCompleto" class="form-control" />
                    <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                @for (int i = 0; i < qtdEmails; i++)
                {
                    <input asp-for="Emails[i].ID" class="invisible" />
                    <div class="form-group">
                        <label asp-for="Emails[i].Descricao" class="control-label"></label>
                        <input asp-for="Emails[i].Descricao" class="form-control" />
                        <span asp-validation-for="Emails[i].Descricao" class="text-danger"></span>
                    </div>
                }

                @for (int i = 0; i < qtdEnderecos; i++)
                {
                    <input asp-for="Enderecos[i].ID" class="invisible" />
                    <div class="form-group">
                        <label asp-for="Enderecos[i].Logradouro" class="control-label"></label>
                        <input asp-for="Enderecos[i].Logradouro" class="form-control" />
                        <span asp-validation-for="Enderecos[i].Logradouro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Enderecos[i].CEP" class="control-label"></label>
                        <input asp-for="Enderecos[i].CEP" class="form-control" />
                        <span asp-validation-for="Enderecos[i].CEP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Enderecos[i].Numero" class="control-label"></label>
                        <input asp-for="Enderecos[i].Numero" class="form-control" />
                        <span asp-validation-for="Enderecos[i].Numero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Enderecos[i].Complemento" class="control-label"></label>
                        <input asp-for="Enderecos[i].Complemento" class="form-control" />
                        <span asp-validation-for="Enderecos[i].Complemento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Enderecos[i].Bairro" class="control-label"></label>
                        <input asp-for="Enderecos[i].Bairro" class="form-control" />
                        <span asp-validation-for="Enderecos[i].Bairro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Enderecos[i].Cidade" class="control-label"></label>
                        <input asp-for="Enderecos[i].Cidade" class="form-control" />
                        <span asp-validation-for="Enderecos[i].Cidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Enderecos[i].Estado" class="control-label"></label>
                        <input asp-for="Enderecos[i].Estado" class="form-control" />
                        <span asp-validation-for="Enderecos[i].Estado" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
